body{}
p{
    font-family: Arial, Helvetica;
}
.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0;
    border-bottom: 1px solid rgb(192, 190, 190);
}
.header-1{
    display: flex;
    width: 30%;
    height: 100px;
}
.paragraph-header-1{
    margin: 30px;
    font-size: 28px;
    color: rgb(247, 61, 104);
    font-weight: 600;
    cursor: pointer;
}
.header-2{
    margin-right: 15px;
    display: flex;
    width: 70%;
    height:100px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.header-22{
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    right:35px;
}
.paragraph-header-22{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.paragraph-header-22:hover{
    color: rgb(247, 61, 104);
}
.paragraph-header-22:active{
    opacity: 0.5;
}

.main-div-2{

    margin-top: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.main-img{
    height: 520px;
    width: 880px;
    margin:0 10px ;
    border-radius: 10px;
    position: absolute;
    right: 18px;
}

.main-div-22{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 5px;
    width: 650px;
    height: 375px;
}
.div-p{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 460px;
    margin-left: 30px;
    margin-top: 25px;
    border-left: 8px solid  rgb(247, 61, 104);
    position: relative;
}
.paragraph-221{
    position: absolute;
    top: 0;
    padding-bottom: 10px;
    width: 90%;
    margin: 0;
    margin-left: 35px;
    font-size: 70px;
    font-weight: 900px;
    color: rgb(0, 0, 0)
}
.paragraph-222{
    margin-left:35px;
    position: absolute;
    bottom: 0px;
}

.main-div-222{
    display: flex;
    flex-direction:row;
    width: 450px;
    height: 200px;
    gap: 25px;
    margin-left: 37px;
    padding-top: 20px;
}
.button-1, .button-1-1{
    height: 42px;
    width: 100px;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 40px;
}
.button-1-1{
    box-shadow: 0 0 5px gray;
    background-color: white;
    color: rgb(247, 61, 104);
    width: 127px;
    height: 47px;
    margin-left: 0px !important;
}
.button-1{
    background-color: rgb(247, 61, 104);
    color: rgb(255, 255, 255);
    width: 127px;
    height: 47px;
}
.pp{
    font-size: 15px;
    font-weight: 500;
}

.main-div-1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 150px;
    padding-left: 30px;
    margin-left: 35px;
    margin-bottom: 100px;
    justify-content: center;
}
.p-middle{
    color: rgb(247, 61, 104) ;
    font-size: 11px;
    padding-left: 10px;
    margin-bottom: 35px;
}
.icon{
    color:rgb(247, 61, 104);
    bottom: -110px;
    position: absolute;
    font-size: 115px;
    margin-left: 90px;
}
.ppp{
    font-weight: 600;
    font-size: 34px ;
    margin: 0;
    position: absolute;
    top: 15px;
}