*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
}
.container{
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    transition:all ease 0.6s;
    width: 780px;
    height: 380px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container .box{
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
}
.box-one{
    background-color: #000;
    width: 100%;
    height: 100%;
}
.box-four{
}
.images {
    background-color: #000;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container .box:hover{
    filter: grayscale(1) brightness(1.4);
}
.container  .images:hover{
    filter: grayscale(1);
    transform: scale(1.1);
}

.container:has(.one:hover){
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
}

.container:has(.two:hover){
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
}

.container :has(.three:hover){
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr;
}

.container:has(.four:hover){
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
}

